<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
</head>
<body>
     <% if (user) { %>
      <%- include('./partials/_navbar.ejs') %>
      <h1>Matt's Finance App</h1>
      <h2>Hello,  <%= user.username %>!</h2>
        <p><b>What would you like to do today?</b></p>
        <a href="/users/<%= user._id %>/transactions/index">See your transactions</a>
        <a href="/users/<%= user._id %>/transactions/new">Add a new transaction</a>
        <a href="/users/<%= user._id %>/transactions/calendar">Calendar</a>
    <% } else { %>
      <h1>Matt's Finance App</h1>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</body>
</html>
