<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Transactions</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <% let USDollar = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', }); %>
        <h1>Item: <%= transaction.itemName %></h1>
            <p><%= transaction.date.toDateString() %></p>
            <p>Price: <%= USDollar.format(transaction.price) %></p>
            <p>Store: <%= transaction.store %></p>
            <p>Type: <%= transaction.transactionType %></p>
        <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>/edit" class="edit">
            Edit this transaction
        </a>
        <form action="/users/<%= user._id %>/transactions/<%= transaction._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this transaction</button>
        </form>
</body>

</html>